---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { Icon } from 'astro-icon/components';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<a
  class="no-underline"
  href={lang === 'en'
    ? '/Leonardo Serrano Resume-v2410.pdf'
    : '/Leonardo Serrano CV-v2410.pdf'}
  download
>
  <button
    class="flex gap-2 items-center justify-center rounded-xl w-56 h-12 py-4 px-2 shadow-md hover:shadow-lg transition font-semibold duration-300 ease-in-out"
    >{t('download.resume')}
    <Icon class="" name="download" width={20} height={20} />
  </button>
</a>
