---
import { Icon } from 'astro-icon/components';

interface Props {
  name: string;
  path: string;
  icon?: string;
  newWindow?: boolean;
}

const { path, name, icon, newWindow = false } = Astro.props as Props;
---

<a
  target={newWindow ? '_blank' : undefined}
  class={`no-underline flex gap-2 items-center relative`}
  href={path}
>
  {icon && <Icon class="" name={icon} width={20} height={20} />}
  {name}
  <span
    class="absolute bottom-0 left-0 w-0 h-0 border-t-2 border-primario dark:border-secundario transition-all duration-300"
  ></span>
</a>

<style>
  a:hover .absolute {
    width: 50%;
    height: 2px;
  }
</style>
