---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
    title="About | Leonardo Serrano's Portfolio"
    description="About of Leonardo Serrano, a fullstack web developer from Costa Rica."
>
    <section class="flex flex-col gap-4">
        <h1 class="">About Me</h1>
        <div
            class="w-full h-[20rem] bg-[url('/about.jpg')] bg-cover bg-no-repeat bg-center rounded-lg shadow relative"
        >
        </div>
        <p>
            Hello! My name is Leonardo Serrano, and I reside in beautiful Costa
            Rica. I am a full-stack web developer with expertise in Node.js
            using Express, Next.js/Astro, and MySQL. Currently, I am working as
            a freelancer, but I am eager to explore opportunities with
            established companies.
        </p>

        <p>
            I share my life with my wonderful wife and our lovely daughter. In
            addition to my career in web development, I run a second business
            focused on music recording and production. However, my primary focus
            now is on web development.
        </p>

        <h2>Web Development Journey</h2>

        <p>
            In the realm of web development, I am currently working on my web
            application for the music studio. This application enables users to
            share their songs, manage their profiles, access a user-friendly
            chatbot for inquiries, and utilize robust authentication features.
            Additionally, I am developing tools for studio management, allowing
            users to track payments, view balances, earn discounts, and
            effectively administer their music. This project boasts a powerful
            API developed with Node.js and an MVC architecture, incorporating
            best practices, security measures, data validation, pagination,
            complete CRUD operations, and intricate algorithms. The frontend is
            built with Next.js, while the backend leverages Express, and the
            database is powered by MySQL.
        </p>

        <h2>Professional Background</h2>

        <p>
            I have a rich and diverse professional background. I dedicated over
            10 years to my full-time music studio, where I honed my craft. For
            another 5 years, I worked for a company where I managed statistical
            data.
        </p>

        <h2>Personal Interests</h2>

        <p>
            One of my favorite pastimes is spending quality time with my
            daughter and going on family outings. I'm also passionate about
            enjoy acquiring new skills and knowledge.
        </p>
    </section>
</MainLayout>
