---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
  title="About | Leonardo Serrano's Portfolio"
  description="About of Leonardo Serrano, a fullstack web developer from Costa Rica."
  image="/about.jpg"
>
  <section class="flex flex-col gap-4">
    <h1>About Me</h1>
    <div
      class="w-full h-[20rem] bg-[url('/about.jpg')] bg-cover bg-no-repeat bg-center rounded-lg shadow relative"
    >
    </div>

    <p>
      Hi! My name is Leonardo Serrano and I reside in the beautiful Costa Rica.
      I am a full-stack developer with over 4 years of experience in web
      development and project management. My skills include technologies such as
      Node.js with Express, Next.js/Astro, and MySQL. Currently, I work as a
      freelancer, but I am eager to explore opportunities with established
      companies.
    </p>

    <p>
      I share my life with my wonderful wife and our lovely daughter. In
      addition to my career in web development, I run a second business focused
      on music recording and production. However, my main focus now is on web
      development.
    </p>

    <h2>Web Development Career</h2>

    <p>
      My career in web development is marked by a series of diverse and
      challenging projects. Currently, I am working on a web application for my
      music studio, which allows users to share their songs, manage their
      profiles, access a friendly chatbot for inquiries, and utilize robust
      authentication features. Additionally, I am developing tools for studio
      management, allowing users to track payments, view balances, earn
      discounts, and manage their music effectively. This project features a
      powerful API developed with Node.js and an MVC architecture, incorporating
      best practices, security measures, data validation, pagination, complete
      CRUD operations, and complex algorithms. The frontend is built with
      Next.js, while the backend uses Express, and the database is MySQL.
    </p>

    <p>
      One of my standout projects is BeatHub, developed during my participation
      in No Country. As a project manager and frontend of a multidisciplinary
      team, we managed to create a robust application in less than five weeks.
      This MVP ranked among the top 10 projects out of about 160 in the
      simulation. BeatHub allows independent music producers to sell beats and
      artists to buy exclusive beats. The frontend was developed with Next.js
      and Tailwind CSS, while the backend used Express and MySQL.
    </p>

    <p>
      Another significant project is Yehu.app, a platform for client management
      and billing. This project has been essential for the efficient management
      of my current clients. It uses technologies like Next.js, TypeScript,
      Express.js, and MySQL to offer a smooth and efficient user experience.
      Yehu.app allows users to manage their accounts, view balances, and make
      payments.
    </p>

    <h2>Professional Background</h2>

    <p>
      I have a rich and diverse professional background. I dedicated over 10
      years to running my music studio full-time, where I honed my skills in
      music recording and production. For another 5 years, I worked for a
      company where I managed statistical data, which laid the foundation for my
      interest in data-driven web applications and backend development.
    </p>

    <h2>Personal Interests</h2>

    <p>
      One of my favorite hobbies is spending quality time with my daughter and
      going on family outings. I am passionate about learning new technologies
      and continuously expanding my skill set. Currently, I am learning Python
      to automate my daily tasks and experimenting with various other
      technologies such as the ChatGPT API, NestJs for backend development, Bun
      for speed testing, and Playwright for automated testing. I am also
      pursuing certifications with CISCO, specifically CCNA 1, 2, and 3.
    </p>

    <p>
      These are just a few examples, as every day I try to learn something new.
    </p>
  </section>
</MainLayout>
