---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
    title="Leonardo Serrano"
    description="Welcome to my Portfolio and Developer Blog"
>
    <div class="flex flex-col gap-4">
        <h4 class="text-2xl dark:text-white">Contenido acerca de mi tavez</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur neque, ipsa atque cumque, quaerat veritatis esse
            accusantium sint praesentium iste, accusamus blanditiis dolore?
            Quas, consectetur cumque maiores enim tempora placeat? Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Architecto dolore
            molestiae temporibus, adipisci quod ducimus accusantium corrupti
            consequatur quasi quidem facere rem iusto vero nemo libero. Odio
            necessitatibus commodi natus!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            consequuntur nostrum praesentium nisi, suscipit odio ad voluptatem
            odit quod ipsa accusantium cupiditate, iusto tempora. Eligendi
            doloribus fugit possimus et pariatur.
        </p>
    </div>
    <div class="flex flex-col gap-4">
        <h4 class="text-2xl dark:text-white">Contenido acerca de mi tavez</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur neque, ipsa atque cumque, quaerat veritatis esse
            accusantium sint praesentium iste, accusamus blanditiis dolore?
            Quas, consectetur cumque maiores enim tempora placeat? Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Architecto dolore
            molestiae temporibus, adipisci quod ducimus accusantium corrupti
            consequatur quasi quidem facere rem iusto vero nemo libero. Odio
            necessitatibus commodi natus!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            consequuntur nostrum praesentium nisi, suscipit odio ad voluptatem
            odit quod ipsa accusantium cupiditate, iusto tempora. Eligendi
            doloribus fugit possimus et pariatur.
        </p>
    </div>
    <div class="flex flex-col gap-4">
        <h4 class="text-2xl dark:text-white">Contenido acerca de mi tavez</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur neque, ipsa atque cumque, quaerat veritatis esse
            accusantium sint praesentium iste, accusamus blanditiis dolore?
            Quas, consectetur cumque maiores enim tempora placeat? Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Architecto dolore
            molestiae temporibus, adipisci quod ducimus accusantium corrupti
            consequatur quasi quidem facere rem iusto vero nemo libero. Odio
            necessitatibus commodi natus!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            consequuntur nostrum praesentium nisi, suscipit odio ad voluptatem
            odit quod ipsa accusantium cupiditate, iusto tempora. Eligendi
            doloribus fugit possimus et pariatur.
        </p>
    </div>
</MainLayout>
