---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
  title="Home | Leonardo Serrano's Portfolio"
  description="Portfolio of Leonardo Serrano, a fullstack web developer from Costa Rica."
>
  <div class="flex flex-col gap-4">
    <h4 class="text-2xl">Hi, I’m Leonardo Serrano A.</h4>

    <p>
      I'm a Costa Rican programmer with over 4 years of web development
      experience. Currently, I'm working with Next.js/Astro, Tailwind, and
      TypeScript On the server side, I'm using Node.js, MySQL, and Express. I
      really enjoy creating reusable code and usually adhere to the SOLID
      principles and the MVC design pattern for the backend.
    </p>

    <p>
      I also have extensive experience with CSS, SASS, Jest, Strapi, WordPress,
      Git, GitHub, and continuous deployments with GitHub Actions on Netlify,
      Vercel, and hosting with Cpanel and Google Cloud.
    </p>

    <h4 class="text-2xl">I consider myself an Explorer!</h4>

    <p>
      Because I am passionate about learning and testing new technologies. For
      example, I am currently learning Python to automate my daily tasks. I've
      been experimenting with the ChatGPT API, using NestJs for backend
      development (which I really enjoy), and exploring Bun just to test its
      speed (although I still use Node.js). Next, I plan to try Playwright for
      automated testing, as it seems incredible, and Rust because it is fast and
      intuitive! I believe this language will gain significant traction.
      Finally, I think understanding networks is crucial, so I am currently
      studying with CISCO to get certified in CCNA 1, 2 and 3.
    </p>

    <p>
      These are just a few examples, as I strive to learn something new every
      day.
    </p>
  </div>
</MainLayout>
