---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
  title="Home | Leonardo Serrano's Portfolio"
  description="Portfolio of Leonardo Serrano, a fullstack web developer from Costa Rica."
>
  <div class="flex flex-col gap-4">
    <h4 class="text-2xl dark:text-neutral-50">Hi, I’m Leonardo Serrano 👋</h4>

    <p>
      I'm a Costa Rican programmer with <span class="font-bold"
        >over 4 years</span
      > of web development experience. Currently, I'm working with <span
        class="dark:text-indigo-300 text-indigo-700"
        >Next.js/Astro, Tailwind, and TypeScript</span
      >. On the server side, I'm using <span
        class="dark:text-indigo-300 text-indigo-700"
        >Node.js, MySQL, and Express</span
      >. I really enjoy creating reusable code and usually adhere to the <span
        class="dark:text-indigo-300 text-indigo-700">SOLID principles</span
      > and the <span class="dark:text-indigo-300 text-indigo-700">MVC</span>
       design pattern for the backend.
    </p>

    <p>
      I also have extensive experience with CSS, SASS, Jest, Strapi, WordPress, <span
        class="dark:text-indigo-300 text-indigo-700">Git</span
      >, GitHub, and <span class="dark:text-indigo-300 text-indigo-700"
        >continuous deployments with GitHub Actions</span
      > on Netlify, Vercel, and hosting with Cpanel and Google Cloud.
    </p>

    <h4 class="text-2xl dark:text-neutral-50">
      I consider myself an Explorer!
    </h4>

    <p>
      Because I am passionate about learning and testing new technologies. For
      example, I am currently learning <span
        class="dark:text-indigo-300 text-indigo-700">Python</span
      > to automate my daily tasks. I've been experimenting with the <span
        class="dark:text-indigo-300 text-indigo-700">ChatGPT API</span
      >, using <span class="dark:text-indigo-300 text-indigo-700">NestJs</span>
       for backend development (which I really enjoy), and exploring <span
        class="dark:text-indigo-300 text-indigo-700">Bun</span
      > just to test its speed (although I still use Node.js). Next, I plan to
      try <span class="dark:text-indigo-300 text-indigo-700">Playwright</span>
       for automated testing, as it seems incredible, and <span
        class="dark:text-indigo-300 text-indigo-700">Rust</span
      > because it is fast and intuitive! I believe this language will gain
      significant traction. Finally, I think understanding networks is crucial,
      so I am currently studying with <span
        class="dark:text-indigo-300 text-indigo-700">CISCO</span
      > to get certified in <span class="dark:text-indigo-300 text-indigo-700"
        >CCNA 1 and 3</span
      >.
    </p>

    <p>
      These are just a few examples, as I strive to learn something new every
      day.
    </p>
  </div>
</MainLayout>
