---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="LeoSerranodev" description='Welcome to my Portfolio'>
	
		<h1 class="text-2xl dark:text-white">Leo Serrano Developer</h1>
	
</MainLayout>

