---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
    title="Home | Leonardo Serrano's Portfolio"
    description="Portfolio of Leonardo Serrano, a fullstack web developer from Costa Rica."
>
    <div class="flex flex-col gap-4">
        <h4 class="text-2xl dark:text-neutral-50">
            Hi, I’m Leonardo Serrano 👋
        </h4>

        <p>
            Howdy! I'm a Costa Rican software programmer with over<span
                class="font-bold"
            >
                3 years</span
            > of web developer experience. I am currently working with <span
                class="dark:text-indigo-300 text-indigo-700"
                >NextJS/Astro, Tailwind, and Typescript</span
            >; on the backend side, I am using <span
                class="dark:text-indigo-300 text-indigo-700"
                >Node.js, MySQL, and Express</span
            >. I really like creating reusable and organized code. I usually
            like to use the <span class="dark:text-indigo-300 text-indigo-700"
                >SOLID principles</span
            > and <span class="dark:text-indigo-300 text-indigo-700">MVC</span>
             design pattern for backend.
        </p>
        <p>
            I also have experience with CSS, SASS, jest, strapi, wordpress <span
                class="dark:text-indigo-300 text-indigo-700">git</span
            >, github, <span class="dark:text-indigo-300 text-indigo-700"
                >continuous deployments</span
            > in Netlify, Vercel, hostings with Cpanel, Google Cloud.
        </p>
        <h4 class="text-2xl dark:text-neutral-50">
            I consider myself an Exporer!
        </h4>
        <p>
            Because, I am passionate on learning and testing new technologies.
            For example, I'm currently learning <span
                class="dark:text-indigo-300 text-indigo-700">Python</span
            > to automate some of my daily tasks; I've been trying the <span
                class="dark:text-indigo-300 text-indigo-700">ChatGPT API</span
            >, <span class="dark:text-indigo-300 text-indigo-700">NestJs</span>
             for a backend, <span class="dark:text-indigo-300 text-indigo-700"
                >Bun
            </span> because I wanted to test how fast it is; and my next will be


            <span class="dark:text-indigo-300 text-indigo-700">Playwright</span>
             for tests, <span class="dark:text-indigo-300 text-indigo-700"
                >Rust</span
            > because it's so fast!, Finally on the network piece and as
            additional, I am currently starting the <span
                class="dark:text-indigo-300 text-indigo-700"
                >CISCO
            </span> certifications currently I am taking the <span
                class="dark:text-indigo-300 text-indigo-700">CCNA 1,2,3</span
            >.
        </p>
    </div>
</MainLayout>
