---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
    title="Leonardo Serrano"
    description="Welcome to my Portfolio and Developer Blog"
>
    <div class="flex flex-col gap-4">
        <h4 class="text-2xl dark:text-neutral-50">
            Hi, I’m Leonardo Serrano 👋
        </h4>
        <p>
            Howdy! I'm a Costa Rican software programmer with over <span
                class="dark:text-indigo-300 text-indigo-700"
                >3 years of web experience</span
            >. I am currently working with <span
                class="dark:text-indigo-300 text-indigo-700"
                >NextJS/Astro, Tailwind, and Typescript</span
            >; on the backend side, I am using <span
                class="dark:text-indigo-300 text-indigo-700"
                >Node.js, MySQL, and Express</span
            >. I really like creating reusable and organized code. I usually
            like to use the <span class="dark:text-indigo-300 text-indigo-700"
                >MVC design pattern</span
            >.
        </p>
        <p>
            I also have experience with CSS, SASS, jest, strapi, wordpress <span
                class="dark:text-indigo-300 text-indigo-700">git</span
            >, github, <span class="dark:text-indigo-300 text-indigo-700"
                >continuous deployments</span
            > in Netlify, Cpanel, Google Cloud, and more.
        </p>
        <h4 class="text-2xl dark:text-neutral-50">
            I consider myself a nerd😅
        </h4>
        <p>
            One of the things I like the most is testing and learning new
            technologies. For example, I'm currently learning <span
                class="dark:text-indigo-300 text-indigo-700">Python</span
            >, I've been trying to create things with AI with the chatGPT API,
            I've tried <span class="dark:text-indigo-300 text-indigo-700"
                >Bun</span
            >, and I'm going to start testing with <span
                class="dark:text-indigo-300 text-indigo-700">Playwright</span
            >. I'm also studying to get certified as a <span
                class="dark:text-indigo-300 text-indigo-700">Cisco CCNA</span
            >.
        </p>
    </div>
</MainLayout>
