---
import MainLayout from '../layouts/MainLayout.astro';
import personalProjects from '../data/personalProjects.json';
import clientProjects from '../data/clientProjects.json';
import ProjectCard from '../components/ProjectCard.astro';
---

<MainLayout
    title="Projects"
    description="Find here information about the projects I have developed or projects I'm working on."
>
    <section class="flex flex-col gap-20">
        <div class="flex flex-col gap-4">
            <h1>Projects</h1>

            <p>
                Currently, I have several ongoing projects, both practical and
                in progress. Many of them can be found on my GitHub profile.
                However, I'd like to share with you the ones I'm actively
                working on
            </p>
        </div>
        <div class="flex flex-col gap-12">
            <h2>Personal Projects</h2>
            {
                personalProjects.map((project) => (
                    <ProjectCard project={project} />
                ))
            }
        </div>
        <div class="flex flex-col gap-12">
            <h2>Client Projects</h2>
            {clientProjects.map((project) => <ProjectCard project={project} />)}
        </div>
    </section>
</MainLayout>
