---
import MainLayout from '@/layouts/MainLayout.astro';
import personalProjects from '@data/personalProjects.json';
/* import clientProjects from '@data/clientProjects.json'; */
import ProjectCard from '@components/pages/projects/ProjectCard.astro';
---

<MainLayout
  title="Projects | Leonardo Serrano's Portfolio"
  description="Projects of Leonardo Serrano, a fullstack web developer from Costa Rica."
>
  <section class="flex flex-col gap-20">
    <div class="flex flex-col gap-4">
      <h1>Projects</h1>

      <p>
        Take a look at my portfolio to discover a selection of my favorite
        projects that reflect my style and passion for innovation. These works
        show my dedication to excellence and how I love creating solutions that
        truly make a difference. Welcome to a showcase of my most meaningful
        projects!
      </p>
    </div>
    <div class="flex flex-col gap-12">
      <h2>Personal Projects</h2>
      {personalProjects.map((project) => <ProjectCard project={project} />)}
    </div>
  </section>
</MainLayout>
