---
import { Icon } from 'astro-icon';
---

<a href="/Leonardo Serrano Alfaro-Curriculum -english.pdf" download>
    <button
        class="flex gap-2 items-center justify-center border rounded-xl py-3 px-16 hover:bg-neutral-200 active:bg-neutral-400 font-semibold transition-colors duration-300 ease-in-out"
        >Download CV
        <Icon class="" name="download" width="20" />
    </button>
</a>
