---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout
  title="Acerca | Portafolio de Leonardo Serrano"
  description="Acerca de Leonardo Serrano, un desarrollador FullStack de Costa Rica."
  image="/about.jpg"
>
  <section class="flex flex-col gap-4">
    <h1>Acerca de Mí</h1>
    <div
      class="w-full h-[20rem] bg-[url('/about.jpg')] bg-cover bg-no-repeat bg-center rounded-lg shadow relative"
    >
    </div>

    <p>
      ¡Hola! Mi nombre es Leonardo Serrano y resido en la hermosa Costa Rica.
      Soy un desarrollador full-stack con más de 4 años de experiencia en el
      desarrollo web y la gestión de proyectos. Mis habilidades incluyen
      tecnologías como Node.js con Express, Next.js/Astro y MySQL. Actualmente,
      trabajo como freelancer, pero estoy ansioso por explorar oportunidades con
      empresas establecidas.
    </p>

    <p>
      Comparto mi vida con mi maravillosa esposa y nuestra encantadora hija.
      Además de mi carrera en el desarrollo web, dirijo un segundo negocio
      enfocado en la grabación y producción musical. Sin embargo, mi enfoque
      principal ahora está en el desarrollo web.
    </p>

    <h2>Trayectoria en Desarrollo Web</h2>

    <p>
      Mi trayectoria en el desarrollo web está marcada por una serie de
      proyectos diversos y desafiantes. Actualmente, estoy trabajando en una
      aplicación web para mi estudio de música, que permite a los usuarios
      compartir sus canciones, gestionar sus perfiles, acceder a un chatbot
      amigable para consultas y utilizar características robustas de
      autenticación. Además, estoy desarrollando herramientas para la gestión
      del estudio, permitiendo a los usuarios rastrear pagos, ver saldos, ganar
      descuentos y administrar su música de manera efectiva. Este proyecto
      cuenta con una API poderosa desarrollada con Node.js y una arquitectura
      MVC, incorporando las mejores prácticas, medidas de seguridad, validación
      de datos, paginación, operaciones CRUD completas y algoritmos complejos.
      El frontend está construido con Next.js, mientras que el backend utiliza
      Express, y la base de datos es MySQL.
    </p>

    <p>
      Uno de mis proyectos destacados es BeatHub, desarrollado durante mi
      participación en No Country. Como project manager y frontend de un equipo
      multidisciplinario, logramos crear una aplicación robusta en menos de
      cinco semanas. Este MVP se ubicó entre los 10 mejores proyectos de unos
      160 en la simulación. BeatHub permite a productores musicales
      independientes vender beats y a artistas comprar beats exclusivos. El
      frontend se desarrolló con Next.js y Tailwind CSS, mientras que el backend
      utilizó Express y MySQL.
    </p>

    <p>
      Otro proyecto importante es Yehu.app, una plataforma para la gestión de
      clientes y facturación. Este proyecto ha sido fundamental para la gestión
      eficiente de mis clientes actuales. Utiliza tecnologías como Next.js,
      TypeScript, Express.js y MySQL para ofrecer una experiencia de usuario
      fluida y eficiente. Yehu.app permite a los usuarios gestionar sus cuentas,
      ver balances y realizar pagos.
    </p>

    <h2>Antecedentes Profesionales</h2>

    <p>
      Tengo un historial profesional rico y diverso. Dediqué más de 10 años a
      dirigir mi estudio de música a tiempo completo, donde perfeccioné mi
      habilidad en la grabación y producción musical. Durante otros 5 años,
      trabajé para una empresa donde gestioné datos estadísticos, lo que sentó
      las bases para mi interés en las aplicaciones web basadas en datos y el
      desarrollo backend.
    </p>

    <h2>Intereses Personales</h2>

    <p>
      Uno de mis pasatiempos favoritos es pasar tiempo de calidad con mi hija y
      realizar salidas familiares. Soy apasionado por aprender nuevas
      tecnologías y expandir continuamente mi conjunto de habilidades.
      Actualmente, estoy aprendiendo Python para automatizar mis tareas diarias
      y experimentando con varias otras tecnologías como la API de ChatGPT,
      NestJs para el desarrollo backend, Bun para pruebas de velocidad y
      Playwright para pruebas automatizadas. También estoy persiguiendo
      certificaciones con CISCO, específicamente CCNA 1, 2 y 3.
    </p>

    <p>
      Estos son solo algunos ejemplos, ya que todos los días intento aprender
      algo nuevo.
    </p>
  </section>
</MainLayout>
