---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout
  title="Home | Leonardo Serrano's Portfolio"
  description="Portfolio of Leonardo Serrano, a fullstack web developer from Costa Rica."
>
  <div class="flex flex-col gap-4">
    <h4 class="text-2xl dark:text-neutral-50">Hola, Soy Leonardo Serrano 👋</h4>

    <p>
      Soy un programador costarricense con <span class="font-bold"
        >más de 4 años</span
      > de experiencia en el desarrollo web. Actualmente, estoy trabajando con <span
        class="dark:text-indigo-300 text-indigo-700"
        >Next.js/Astro, Tailwind y TypeScript</span
      >. Del lado del servidor, estoy usando <span
        class="dark:text-indigo-300 text-indigo-700"
        >Node.js, MySQL y Express</span
      >. Me gusta mucho crear código reutilizable y organizado, y suelo utilizar

      <span class="dark:text-indigo-300 text-indigo-700"
        >los principios SOLID</span
      > y el patrón de diseño <span class="dark:text-indigo-300 text-indigo-700"
        >MVC</span
      > en el backend.
    </p>

    <p>
      También tengo amplia experiencia con CSS, SASS, Jest, Strapi, WordPress, <span
        class="dark:text-indigo-300 text-indigo-700">Git</span
      >, GitHub y <span class="dark:text-indigo-300 text-indigo-700"
        >despliegues continuos con GitHub Actions</span
      > en Netlify, Vercel, hostings con Cpanel y Google Cloud.
    </p>

    <h4 class="text-2xl dark:text-neutral-50">¡Me considero un Explorador!</h4>

    <p>
      Porque soy muy apasionado en aprender y probar nuevas tecnologías. Por
      ejemplo, actualmente estoy aprendiendo <span
        class="dark:text-indigo-300 text-indigo-700">Python</span
      > para automatizar mis tareas diarias. He estado experimentando con la <span
        class="dark:text-indigo-300 text-indigo-700">API de ChatGPT</span
      >, usando <span class="dark:text-indigo-300 text-indigo-700">NestJs</span>
       para el desarrollo del backend (lo cual me gusta mucho), y explorando <span
        class="dark:text-indigo-300 text-indigo-700">Bun</span
      > solo para probar su velocidad (aunque aún uso Node.js). Lo siguiente que
      planeo probar es <span class="dark:text-indigo-300 text-indigo-700"
        >Playwright</span
      > para pruebas automatizadas, ya que parece increíble, y <span
        class="dark:text-indigo-300 text-indigo-700">Rust</span
      > porque es rápido e intuitivo. ¡Creo que este lenguaje ganará mucha
      fuerza! Finalmente, pienso que entender redes es crucial, así que
      actualmente estoy estudiando con <span
        class="dark:text-indigo-300 text-indigo-700">CISCO</span
      > para certificarme en <span class="dark:text-indigo-300 text-indigo-700"
        >CCNA 1 y 3</span
      >.
    </p>

    <p>
      Estos son solo algunos ejemplos, ya que todos los días intento aprender
      algo nuevo.
    </p>
  </div>
</MainLayout>
