---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout
  title="Home | Leonardo Serrano's Portfolio"
  description="Portfolio of Leonardo Serrano, a fullstack web developer from Costa Rica."
>
  <div class="flex flex-col gap-4">
    <h4 class="text-2xl">Hola, Soy Leonardo Serrano A.</h4>

    <p>
      Soy un programador costarricense con más de 4 años de experiencia en el
      desarrollo web. Actualmente, estoy trabajando con Next.js/Astro, Tailwind
      y TypeScript. Del lado del servidor, estoy usando Node.js, MySQL y
      Express. Me gusta mucho crear código reutilizable y organizado, y suelo
      utilizar los principios SOLID y el patrón de diseño MVC en el backend.
    </p>

    <p>
      También tengo amplia experiencia con CSS, SASS, Jest, Strapi, WordPress,
      Git, GitHub y despliegues continuos con GitHub Actions en Netlify, Vercel,
      hostings con Cpanel y Google Cloud.
    </p>

    <h4 class="text-2xl">¡Me considero un Explorador!</h4>

    <p>
      Porque soy muy apasionado en aprender y probar nuevas tecnologías. Por
      ejemplo, actualmente estoy aprendiendo Python para automatizar mis tareas
      diarias. He estado experimentando con la API de ChatGPT, usando NestJs
      para el desarrollo del backend (lo cual me gusta mucho), y explorando Bun
      solo para probar su velocidad (aunque aún uso Node.js). Lo siguiente que
      planeo probar es Playwright para pruebas automatizadas, ya que parece
      increíble, y Rust porque es rápido e intuitivo. ¡Creo que este lenguaje
      ganará mucha fuerza! Finalmente, pienso que entender redes es crucial, así
      que actualmente estoy estudiando con CISCO para certificarme en CCNA 1, 2
      y 3.
    </p>

    <p>
      Estos son solo algunos ejemplos, ya que todos los días intento aprender
      algo nuevo.
    </p>
  </div>
</MainLayout>
