---
import MainLayout from '@/layouts/MainLayout.astro';
import proyectosPersonales from '@data/proyectosPersonales.json';
/* import clientProjects from '@data/clientProjects.json'; */
import ProjectCard from '@components/pages/projects/ProjectCard.astro';
---

<MainLayout
  title="Proyectos | Portafolio de Leonardo Serrano"
  description="Proyectos de Leonardo Serrano, desarrollador fullstack de Costa Rica"
>
  <section class="flex flex-col gap-20">
    <div class="flex flex-col gap-4">
      <h1>Proyectos</h1>

      <p>
        Echa un vistazo a mi portafolio para descubrir una selección de mis
        proyectos favoritos que reflejan mi estilo y pasión por la innovación.
        Estos trabajos muestran mi dedicación a la excelencia y cómo me gusta
        crear soluciones que realmente marcan la diferencia. ¡Bienvenido a una
        muestra de mis proyectos más significativos!
      </p>
    </div>
    <div class="flex flex-col gap-12">
      <h2>Proyectos Personales</h2>
      {proyectosPersonales.map((project) => <ProjectCard project={project} />)}
    </div>
  </section>
</MainLayout>
